

.awebo {
    cursor: pointer; /* Indicador visual de que se puede hacer clic */
  }
  
  .awebo.expanded {
    width: 50%;
    height: 50vh; /* 50% de la altura de la ventana */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrar en la pantalla */
  }